/*===== EXPERIENCE 297 WEBSITE CSS =====*/


/* This option is to make the view available to viewers using a non-rectangular displays for example iPhone X or >*/
html {
    padding: env(safe-area-inset);
}

/* ===== Body Font ===== Refrence -- > https://fonts.google.com/?sort=popularity&selection.family=Montserrat*/
body {
    font-family: 'Montserrat', sans-serif;
    color: #353838
}

/* ===== ===== Start Navbar Effect, The Idea is to create a gradient Navbar that resembles the Logo and the overall Experience of the Aruban Colors ===== =====*/
.navbar-brand img {
    height: 3rem;
}

.navbar {
    padding: .6rem 1rem;
    letter-spacing: .05rem;
    font-size:.8rem;
    background: -moz-linear-gradient(left, #0fb7ca 32%, #FBB03B 82%); 
    background: -webkit-linear-gradient(left, #0fb7ca 32%, #FBB03B 82%);
    background: linear-gradient(to right, #0fb7ca 32%, #FBB03B 82%);
}

.navbar-nav li {
    padding-right: .7rem;
    
}

.navbar-nav .nav-link {
    padding: .7rem;
    color: white;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color:#df0202;
}
/* ===== ===== End Of Navbar Effect ===== ===== */

.button.navbar-toggler {
    color: white;
}
.fa-bars::before {
    color: #fff;
}

button:active, button:focus {
    outline: 0;
}

/* ===== ===== Start Landing Page Customization ===== =====*/

.landing {
    position: relative;
    width: 100%;
    height: 100vh;
    display: table;
    background: #5f7b7e;
    z-index: -1;
}

.home-wrap {
    clip: rect(0, auto, auto, 0); /*Makes sure that the content is centered in the viewport https://tympanus.net/codrops/2013/01/16/understanding-the-css-clip-property/  */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.home-inner {
    background: url(../images/landingpage/cimpexp297landing.png);
    position: fixed;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    transform: translateZ(0);/* Used for 3D Rendering this will keep it at a zero zoom level. */
    -webkit-transform: translateZ(0); /* Used for 3D Rendering this will keep it at a zero zoom level. */
    will-change: transform; /* It giving the webrowser a hint that we want it to display at a fixed position, so the browser doesn't try to impose it's own styling element*/
}

.subtitle {
    z-index: 1;
    top: 40%;
    font-size: 3.5rem;
}

.btn {
    border-width: medium;
    padding: .5rem 1.3rem;
}

/* ===== ===== Padding Top for Display ===== =====*/

/* ===== ===== Scroll Spy Offest Effect Option ===== =====*/

h2.text-uppercase.font-weight-bold {
    margin-top: 3.5rem;
}

.heading-underline {
    width: 3rem;
    height: .25rem;
    background: #df0202;
}

/* ===== ===== Scroll Spy Offest Effect Option ===== =====*/

/* ===== ===== Start About Page Fontawesome Icon Color ===== =====*/

i.fas.fa-map-marker-alt {
    color: #b90000!important;

}

i.fas.fa-map-marked-alt {
    color: #f7ad23!important;

}

i.fas.fa-tags {
    color: #55c0bb!important;

}

/* ===== ===== End About Page Fontawesome Icon Color ===== =====*/

/* ===== ===== Start Pricing Page Source Code ===== =====*/

* {
    box-sizing: border-box;
    padding-bottom: 0px;
  }
  .jumbotron {
    padding-right: 2rem;
    padding-bottom: 0rem;
  }

  .h2, h2 {
      margin-top: 3.5rem!important; /* Specification of exact screen position*/
  }

  .columns {
    float: left;
    width: 33.3%;
    padding: 8px;
  }
  
  .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  
  .price .header1 {
    background-color: #0fb7ca;
    color: white;
    font-size: 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .price .header2 {
    background: -moz-linear-gradient(left, #0fb7ca 42%, #FBB03B 82%); 
    background: -webkit-linear-gradient(left, #0fb7ca 42%, #FBB03B 82%);
    background: linear-gradient(to right, #0fb7ca 42%, #FBB03B 82%);
    color: white;
    font-size: 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .price .header3 {
    background-color: #FBB03B;
    color: white;
    font-size: 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .price li {
    border-bottom: 1px solid #eee;
    padding: 10px;
    text-align: center;
  }
  
  .price .grey {
    background-color: #eee;
    font-size: 20px;
  }
  
  .button1 {
    background-color: #0fb7ca;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }

  .button2 {
    background: -moz-linear-gradient(left, #0fb7ca 32%, #FBB03B 82%); 
    background: -webkit-linear-gradient(left, #0fb7ca 32%, #FBB03B 82%);
    background: linear-gradient(to right, #0fb7ca 32%, #FBB03B 82%);
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }

  .button3 {
    background-color: #FBB03B;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }

  .fas.fa-check {
      color: #04b12f;
  }

  .fas.fa-asterisk {
    color: #FBB03B;
}

.fas.fa-times {
    color: #df0202;
}


  
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
  }

/* ===== ===== End Pricing Page Source Code ===== =====*/

/* ===== ===== Start Revies Page Source Code ===== =====*/

.card h5 {
    color: #df0202;

}

.card p {
    font-size: .9rem;
}

/* ===== ===== Start Revies Page Source Code ===== =====*/




@media (max-width: 900px) {
    .subtitle {
        z-index: 1;
        top: 40%;
    }
    .subtitle h1 {
        font-size: 2.3rem;
    }
    .subtitle h3 {
        font-size: 1.6rem;
    }

@media (max-width: 768) {
    .subtitle {
        z-index: 1;
        top: 40%;
    }
    .subtitle h1 {
        font-size: 2.0rem;
    }
    .subtitle h3 {
        font-size: 1.2rem;
    }
}

@media (max-width: 600px) {
    .subtitle {
        z-index: 1;
        top: 40%;
    }
    .subtitle h1 {
        font-size: 1.8rem;
    }
    .subtitle h3 {
        font-size: 1.0rem;
    }
}

@media (max-width: 480px) {
    .subtitle {
        z-index: 1;
        top: 40%;
    }
    .subtitle h1 {
        font-size: 1.6rem;
    }
    .subtitle h3 {
        font-size: .9rem;
    }
}

@media (max-width: 388px) {
    .subtitle {
        z-index: 1;
        top: 40%;
    }
    .subtitle h1 {
        font-size: 1.4rem;
    }
    .subtitle h3 {
        font-size: .9rem;
    }
}

@media (max-width: 320px) {
    .subtitle {
        z-index: 1;
        top: 40%;
    }
    .subtitle h1 {
        font-size: 1.2rem;
    }
    .subtitle h3 {
        font-size: .8rem;
    }
}




/* ===== ===== End Of Landing Page Customization ===== =====*/



/* ===== ===== Start About Us Page Customization ===== =====*/

