/*===== EXPERIENCE 297 WEBSITE CSS =====*/
/* Refrenced Source Code from https://w3newbie.com/w3newbie-tutorials/*/
/* ===== Body Font ===== Refrence -- > https://fonts.google.com/?sort=popularity&selection.family=Montserrat*/
html {
    padding: env(safe-area-inset);
    /* specifically inserted for Cross Viewport Compatibility*/
	scroll-behavior: smooth;
	/* Smooth Scrolling Cross Browser Compatibility except Safari*/
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #353838
}
/* Refrenced Source Code from https://w3newbie.com/w3newbie-tutorials/*/
/* ===== ===== Start Navbar Effect, The Idea is to create a gradient Navbar that resembles the Logo and the overall Experience of the Aruban Colors ===== =====*/
.navbar-brand img {
    height: 3rem;
}

.navbar {
	background: transparent;
}

.navbar1 {
	background: -moz-linear-gradient(left, #0fb7ca 32%, #FBB03B 82%);
	background: -webkit-linear-gradient(left, #0fb7ca 32%, #FBB03B 82%);
	background: linear-gradient(to right, #0fb7ca 32%, #FBB03B 82%);
	opacity: 1 !important;
}

.navbar-nav li {
    padding-right: .7rem;
    
}

.navbar-nav .nav-link {
    padding: .7rem;
    color: white;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color:#df0202;
}
/* ===== ===== End Of Navbar Effect ===== ===== */


.button.navbar-toggler {
    color: white;
}
.fa-bars::before {
    color: #fff;
}

button:active, button:focus {
    outline: 0;
}

/* ===== ===== Start Landing Page Customization ===== =====*/

.landing {
    position: relative;
    width: 100%;
    height: 100vh;
    display: table;
    background: #5f7b7e;
    z-index: -1;
}

.home-wrap {
    clip: rect(0, auto, auto, 0); /*Makes sure that the content is centered in the viewport https://tympanus.net/codrops/2013/01/16/understanding-the-css-clip-property/  */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.home-inner {
    background: url(../images/landingpage/cimpexp297landing.png);/* This Image will load befor the video*/
    position: fixed;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    transform: translateZ(0);/* Used for 3D Rendering this will keep it at a zero zoom level. */
    -webkit-transform: translateZ(0); /* Used for 3D Rendering this will keep it at a zero zoom level. */
    will-change: transform; /* Its giving the webrowser a hint that we want it to display at a fixed position, so the browser doesn't try to enforce it's own styling element*/
}

.subtitle {
    z-index: 1;
    top: 50%;
    font-size: 3.5rem;
    
}

/* ===== ===== Landing Page Button Of Effect ===== ===== */

.btn {
    border-width: medium;
    padding: .5rem 1.3rem;
    text-transform: uppercase;
    border-radius: 25px;
    transform: translateY(-175px);
}


.btnbg {
	background-color: #b90000 !important;
	color: #fff !important;
	transition: .5s ease-in-out;
	border-radius: 50px !important;
	padding: 15px !important;
	box-shadow: 1px 1px 20px white;
	text-shadow: 1px 1px 1px lightgray;
}

.btnbg:hover {
	background-color: #fff !important;
	color: #b90000 !important;
	transition: .5s ease-in-out;
	box-shadow: 5px 5px 5px gray;
	text-shadow: 1px 1px 5px gray;
	border-radius: 50px !important;
}

/* ===== ===== Added a video background to enhance website look and feel ===== =====*/

.home-inner video {
	min-width: 100%;
	min-height: 100vh;
	object-fit: cover;
	position: absolute;
	align-items: center;
}

/* ===== ===== Added a overlay to enhance website uniform look and feel ===== =====*/

.home-inner-overlay {
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(to right, #0fb7ca 32%, #FBB03B 82%) no-repeat center center/cover;
	z-index: 1;
	opacity: .75;
}

/* ===== ===== End Landing Page Customization ===== =====*/

/* ===== ===== Scroll Spy Offest Effect Option ===== =====*/

/* ===== ===== Padding Top for Display ===== =====*/
h2 {
    margin-top: 3.5rem!important;
    text-transform: uppercase;
}/* Added this line of code in order for scrolling href to lock precisely on location*/

.heading-underline {
    width: 3rem;
    height: .25rem;
    background: #df0202;
    margin: 1.5rem auto;
}

/* ===== ===== Scroll Spy Offest Effect Option ===== =====*/

/* ===== ===== Start About Page Fontawesome Icon Color ===== =====*/

i.fas.fa-map-marker-alt {
    color: #b90000!important;
}

i.fas.fa-map-marked-alt {
    color: #f7ad23!important;
}

i.fas.fa-tags {
    color: #55c0bb!important;
}

.illustration img {
	height: 75%;
	width: 75%;
}

/* ===== ===== End About Page Fontawesome Icon Color ===== =====*/

/* ===== ===== Start Pricing Page Source Code Refrence from https://startbootstrap.com/snippets/pricing-table/ ===== =====*/
section.pricing {
    background: #ffffff;
  }
  
  .pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.24);
  }
  
  .pricing hr {
    margin: 1.5rem 0;
  }
  
  .pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
  }
  
  .pricing .card-price {
    font-size: 3rem;
    margin: 0;
    color: #0fb7ca;
  }
  
  .pricing .card-price .period {
    font-size: 0.8rem;
  }
  
  .pricing ul li {
    margin-bottom: 1rem;
  }
  
  .pricing .text-muted {
    opacity: 0.7;
  }
  
  .pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
    
  }
  
  /* ===== ===== Hover Effects on Card ===== ===== */
  
  @media (min-width: 1280px) {
    .pricing .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .pricing .card:hover .btn {
      opacity: 1;
    }
  }

/* ===== ===== End Pricing Page Source Code ===== =====*/


/* ===== ===== Start Reviews Page Source Code Bootstrap Card Reference https://getbootstrap.com/docs/4.0/components/card/===== =====*/

.card h5 {
    color: #df0202;

}

.card p {
    font-size: .9rem;
}

/* ===== ===== End Reviews Page Source Code  ===== =====*/

/* ===== ===== Start Footer Page Source Code Refrenced Source Code from https://w3newbie.com/w3newbie-tutorials/===== =====*/

img.my-4 {
    height: 5rem;
}

.footer {
    background-color: #0fb7ca;
}

/* ===== ===== End Footer Page Source Code ===== =====*/

/* ===== =====  Added Media Queries Reference from https://stackoverflow.com/  ===== ===== */
@media (max-width: 900px) {
    .subtitle {
        z-index: 1;
        top: 40%;
    }
    .subtitle h1 {
        font-size: 2.3rem;
    }
    .subtitle h3 {
        font-size: 1.6rem;
    }

@media (max-width: 768px) {
    .subtitle {
        z-index: 1;
        top: 40%;
    }
    .subtitle h1 {
        font-size: 2.0rem;
    }
    .subtitle h3 {
        font-size: 1.2rem;
    }
}

@media (max-width: 600px) {
    .subtitle {
        z-index: 1;
        top: 40%;
    }
    .subtitle h1 {
        font-size: 1.8rem;
    }
    .subtitle h3 {
        font-size: 1.0rem;
    }
}

@media (max-width: 480px) {
    .subtitle {
        z-index: 1;
        top: 40%;
    }
    .subtitle h1 {
        font-size: 1.6rem;
    }
    .subtitle h3 {
        font-size: .9rem;
    }
}

@media (max-width: 388px) {
    .subtitle {
        z-index: 1;
        top: 40%;
    }
    .subtitle h1 {
        font-size: 1.4rem;
    }
    .subtitle h3 {
        font-size: .9rem;
    }
}

@media (max-width: 320px) {
    .subtitle {
        z-index: 1;
        top: 40%;
    }
    .subtitle h1 {
        font-size: 1.2rem;
    }
    .subtitle h3 {
        font-size: .8rem;
    }
}
}